 {% block portfolio %}
 <!-- ======= Портфолио ======= -->
  <section id="portfolio" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Портфолио</h2>
        <p>Завершенные проекты</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-highlight"></i></div>
            <h4><a href="">Книги</a></h4>
            <p>Опубликованные книги по Python, алгоритмам, веб-разработке на Django и Flask</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Блокчейн</a></h4>
            <p>Проекты на Ethereum блокчейне, NFT-платформы, распределенные приложения</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-task"></i></div>
            <h4><a href="">Курсы по Python</a></h4>
            <p>Продвинутые курсы по практической разработке на Python</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-rocket"></i></div>
            <h4><a href="">FinTech</a></h4>
            <p>Платежная система для прозрачного финансирования благотворительных проектов</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-message-detail"></i></div>
            <h4><a href="">EdTech</a></h4>
            <p>Адаптивный тренажер для изучения программирования на Java и Go</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-cog"></i></div>
            <h4><a href="">Робототехника</a></h4>
            <p>Программное обеспечение для робота-пылесоса</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- конец секции -->
{% endblock %}