{% extends "base.html" %}
{% block content %}

<style>
.error-template {padding-top: 150px; text-align: center;}
.error-actions {margin-top:15px; margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Упс!</h1>
                <h2>Ошибка 404</h2>
                <div class="error-details">К сожалению, страница не найдена</div>
                <div class="error-actions">
                    <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
