{% block header %}
  <!-- Хедер -->
  <header id="header">
    <div class="container">
      <h1><a href="{{ site_url }}">{{ name }}</a></h1>
      <h2>{{ tag1 }} <span>{{ tag2 }}</span></h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">{{ sect1 }}</a></li>
          <li><a class="nav-link" href="#resume">{{ sect2 }}</a></li>
          <li><a class="nav-link" href="#portfolio">{{ sect3 }}</a></li>
          <li><a class="nav-link" href="#blog">{{ sect4 }}</a></li>
          <li><a class="nav-link" href="#contact">{{ sect5 }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- Навигация -->

      <div class="social-links">
        <a href="{{ telegram }}" class="telegram"><i class="fa fa-telegram"></i></a>
        <a href="{{ facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="{{ vk }}" class="vk"><i class="fa fa-vk"></i></a>
        <a href="{{ email }}" class="email"><i class="fa fa-envelope"></i></a>
      </div>
      </div>
  </header><!-- Конец хедера -->    
{% endblock %}