{% extends "base.html" %}
{% block content %}

{% block header %}
{% include "header.html" %}
{% endblock %}


{% block resume %}
{% include "resume.html" %}
{% endblock %}

{% block counters %}
{% include "counters.html" %}
{% endblock %}

{% block skills %}
{% include "skills.html" %}
{% endblock %}

{% block interests %}
{% include "interests.html" %}
{% endblock %}

{% block portfolio %}
{% include "portfolio.html" %}
{% endblock %}

{% block blog %}
{% include "blog.html" %}
{% endblock %}

{% block contacts %}
{% include "contacts.html" %}
{% endblock %}

{% endblock %}