 
{% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Профессиональные интересы</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-file-code-line" style="color: #ffbb2c;"></i>
            <h3>Django</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>Аналитика</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #e80368;"></i>
            <h3>Техническая литература</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-slideshow-line" style="color: #e361ff;"></i>
            <h3>Веб-дизайн</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-terminal-box-line" style="color: #11dbcf;"></i>
            <h3>Алгоритмы</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-server-line" style="color: #ffa76e;"></i>
            <h3>Бэкенд</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3>Структуры данных</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-hammer-line" style="color: #4233ff;"></i>
            <h3>Железо</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-briefcase-fill" style="color: #b2904f;"></i>
            <h3>IT-курсы</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-computer-line" style="color: #b20969;"></i>
            <h3>Фронтенд</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-android-line" style="color: #ff5828;"></i>
            <h3>Робототехника</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-line" style="color: #29cc61;"></i>
            <h3>Big Data</h3>
          </div>
        </div>
      </div>
    </div><!-- конец раздела -->
  </section><!-- конец секции Резюме -->
{% endblock %}  