{% block resume %}
  <!-- ======= Резюме ======= -->
  <section id="resume" class="about">

    <!-- ======= Об авторе ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>Резюме</h2>
        <p>Опыт и навыки</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ tag1 }} </h3>
          <p class="fst-italic">
            Занимаюсь веб-разработкой на Django и Flask. Кроме Python, программирую на C++, Java, Go и Ruby. Работал над проектами в нескольких областях:
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>FinTech</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>EdTech</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Big Data</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Робототехника</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Блокчейн</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Нейронные сети</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Криптография</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Онлайн ТВ</strong></li>
              </ul>
            </div>
          </div>
          <p>
            Есть опыт преподавания - вел курсы фуллстек-разработки на платформах БлаБлаФактори и БлаБла Практикум.
          </p>
        </div>
      </div>
</div><!-- конец секции -->

{% endblock %}    